<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <body>
        <%- include('partials/navbar') %>
        <div class="content">
            <h1>Contact Us</h1>
        </div>
        <%- include('partials/footer') %>
    </body>
    </html>



